In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("") \
    .getOrCreate()

In [4]:
df = spark.read.csv('cars.csv',header=True, inferSchema =True)

In [4]:
df.show(truncate = False)

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission|color |odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|Subaru           |Outback   |automatic   |silver|190000        |2010         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |10900.0  |false          |Минская обл.   |9               |13        |false    |true     |true     |true     |false    |true     |false    |true     |true     |true     |16             |
|Subaru           |Outback   |automatic   |blue  |290000        |2002         |gasoline   |false         |gasoline   |3.0            |universal|false       |owned|all       |5000.0   |true           |Минская обл.   |12              |54        |false    |true     |false    |false    |true     |true     |false    |false    |false    |true     |83             |
|Subaru           |Forester  |automatic   |red   |402000        |2001         |gasoline   |false         |gasoline   |2.5            |suv      |false       |owned|all       |2800.0   |true           |Минская обл.   |4               |72        |false    |true     |false    |false    |false    |false    |false    |false    |true     |true     |151            |
|Subaru           |Impreza   |mechanical  |blue  |10000         |1999         |gasoline   |false         |gasoline   |3.0            |sedan    |false       |owned|all       |9999.0   |true           |Минская обл.   |9               |42        |true     |false    |false    |false    |false    |false    |false    |false    |false    |false    |86             |
|Subaru           |Legacy    |automatic   |black |280000        |2001         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |2134.11  |true           |Гомельская обл.|14              |7         |false    |true     |false    |true     |true     |false    |false    |false    |false    |true     |7              |
|Subaru           |Outback   |automatic   |silver|132449        |2011         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |14700.0  |true           |Минская обл.   |20              |56        |false    |true     |false    |false    |false    |true     |false    |true     |true     |true     |67             |
|Subaru           |Forester  |automatic   |black |318280        |1998         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |3000.0   |true           |Минская обл.   |8               |147       |false    |true     |false    |false    |true     |true     |false    |false    |true     |true     |307            |
|Subaru           |Legacy    |automatic   |silver|350000        |2004         |gasoline   |false         |gasoline   |2.5            |sedan    |false       |owned|all       |4500.0   |false          |Брестская обл. |7               |29        |false    |true     |true     |false    |false    |false    |false    |false    |false    |true     |73             |
|Subaru           |Outback   |automatic   |grey  |179000        |2010         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |12900.0  |false          |Минская обл.   |17              |33        |false    |true     |true     |true     |true     |true     |true     |true     |true     |true     |87             |
|Subaru           |Forester  |automatic   |silver|571317        |1999         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |4200.0   |true           |Минская обл.   |8               |11        |false    |true     |true     |false    |false    |true     |false    |false    |false    |true     |43             |
|Subaru           |Forester  |mechanical  |other |280000        |2003         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |6900.0   |true           |Минская обл.   |14              |6         |false    |true     |false    |true     |false    |true     |false    |true     |true     |true     |11             |
|Subaru           |Tribeca   |automatic   |grey  |256000        |2008         |gasoline   |false         |gasoline   |3.6            |suv      |false       |owned|all       |8350.0   |true           |Минская обл.   |18              |61        |false    |true     |true     |true     |true     |true     |false    |false    |true     |true     |80             |
|Subaru           |Forester  |mechanical  |other |321000        |2002         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |4300.0   |false          |Минская обл.   |13              |2         |false    |true     |false    |false    |false    |false    |false    |false    |false    |false    |2              |
|Subaru           |Justy     |mechanical  |red   |49999         |2001         |gasoline   |false         |gasoline   |1.3            |hatchback|false       |owned|all       |1666.0   |false          |Гомельская обл.|8               |94        |true     |false    |false    |false    |false    |false    |false    |false    |false    |false    |230            |
|Subaru           |Outback   |automatic   |brown |154685        |2011         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |8600.0   |true           |Минская обл.   |24              |34        |false    |true     |false    |true     |false    |false    |false    |false    |true     |true     |63             |
|Subaru           |Outback   |automatic   |black |163219        |2004         |gasoline   |false         |gasoline   |2.0            |universal|false       |owned|all       |7300.0   |true           |Минская обл.   |17              |22        |false    |true     |true     |false    |true     |true     |false    |false    |false    |true     |35             |
|Subaru           |Outback   |automatic   |other |318650        |2005         |gasoline   |false         |gasoline   |3.0            |universal|false       |owned|all       |7587.97  |true           |Минская обл.   |7               |166       |false    |true     |false    |true     |true     |true     |false    |false    |true     |true     |468            |
|Subaru           |Impreza   |mechanical  |blue  |191000        |2005         |gasoline   |false         |gasoline   |2.0            |sedan    |false       |owned|all       |10950.0  |false          |Минская обл.   |12              |7         |false    |true     |false    |false    |false    |false    |false    |false    |false    |true     |21             |
|Subaru           |Forester  |automatic   |silver|179000        |2014         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |12700.0  |false          |Минская обл.   |14              |14        |false    |false    |true     |true     |false    |true     |true     |true     |true     |true     |16             |
|Subaru           |Forester  |automatic   |black |159000        |2013         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |16500.0  |false          |Минская обл.   |6               |34        |false    |true     |true     |false    |true     |true     |false    |true     |true     |true     |59             |
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 20 rows

In [5]:
df_table =df.toPandas()
df_table

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [6]:
df.printSchema()

root
 |-- manufacturer_name: string (nullable = true)
 |-- model_name: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- color: string (nullable = true)
 |-- odometer_value: integer (nullable = true)
 |-- year_produced: integer (nullable = true)
 |-- engine_fuel: string (nullable = true)
 |-- engine_has_gas: boolean (nullable = true)
 |-- engine_type: string (nullable = true)
 |-- engine_capacity: double (nullable = true)
 |-- body_type: string (nullable = true)
 |-- has_warranty: boolean (nullable = true)
 |-- state: string (nullable = true)
 |-- drivetrain: string (nullable = true)
 |-- price_usd: double (nullable = true)
 |-- is_exchangeable: boolean (nullable = true)
 |-- location_region: string (nullable = true)
 |-- number_of_photos: integer (nullable = true)
 |-- up_counter: integer (nullable = true)
 |-- feature_0: boolean (nullable = true)
 |-- feature_1: boolean (nullable = true)
 |-- feature_2: boolean (nullable = true)
 |-- feature_3: boolean (nullable = true)
 |-- feature_4: boolean (nullable = true)
 |-- feature_5: boolean (nullable = true)
 |-- feature_6: boolean (nullable = true)
 |-- feature_7: boolean (nullable = true)
 |-- feature_8: boolean (nullable = true)
 |-- feature_9: boolean (nullable = true)
 |-- duration_listed: integer (nullable = true)

In [7]:
df.groupBy('manufacturer_name').count().sort("count",ascending = False).show(55)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Volkswagen| 4243|
|             Opel| 2759|
|              BMW| 2610|
|             Ford| 2566|
|          Renault| 2493|
|             Audi| 2468|
|    Mercedes-Benz| 2237|
|          Peugeot| 1909|
|          Citroen| 1562|
|           Nissan| 1361|
|            Mazda| 1328|
|           Toyota| 1246|
|          Hyundai| 1116|
|            Skoda| 1089|
|              Kia|  912|
|       Mitsubishi|  887|
|             Fiat|  824|
|            Honda|  797|
|            Volvo|  721|
|              ВАЗ|  481|
|        Chevrolet|  436|
|         Chrysler|  410|
|             Seat|  303|
|            Dodge|  297|
|           Subaru|  291|
|            Rover|  235|
|           Suzuki|  234|
|           Daewoo|  221|
|            Lexus|  213|
|       Alfa Romeo|  207|
|              ГАЗ|  200|
|       Land Rover|  184|
|         Infiniti|  162|
|             LADA|  146|
|            Iveco|  139|
|             Saab|  108|
|             Jeep|  107|
|           Lancia|   92|
|        SsangYong|   79|
|              УАЗ|   74|
|            Geely|   71|
|             Mini|   68|
|            Acura|   66|
|          Porsche|   61|
|            Dacia|   59|
|            Chery|   58|
|          Москвич|   55|
|           Jaguar|   53|
|            Lifan|   47|
|            Buick|   47|
|         Cadillac|   43|
|          Pontiac|   42|
|              ЗАЗ|   42|
|          Lincoln|   36|
|       Great Wall|   36|
+-----------------+-----+

In [8]:
df.describe().show()

+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+-----------------+----------------+-----------------+------------------+------------------+
|summary|manufacturer_name|        model_name|transmission| color|    odometer_value|     year_produced|  engine_fuel|engine_type|   engine_capacity|body_type|    state|drivetrain|        price_usd| location_region| number_of_photos|        up_counter|   duration_listed|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+-----------------+----------------+-----------------+------------------+------------------+
|  count|            38531|             38531|       38531| 38531|             38531|             38531|        38531|      38531|             38521|    38531|    38531|     38531|            38531|           38531|            38531|             38531|             38531|
|   mean|             null|1168.2918056562726|        null|  null| 248864.6384469648|2002.9437336170874|         null|       null| 2.055161106928712|     null|     null|      null|6639.971021255616|            null|9.649061794399314|16.306091199294073|  80.5772494874257|
| stddev|             null| 9820.119520829547|        null|  null|136072.37652978077| 8.065730511309367|         null|       null|0.6711776672087448|     null|     null|      null|6428.152018202914|            null|6.093216996872855| 43.28693309422316|112.82656864261284|
|    min|            Acura|               100|   automatic| black|                 0|              1942|       diesel|     diesel|               0.2|cabriolet|emergency|       all|              1.0|  Брестская обл.|                1|                 1|                 0|
|    max|              УАЗ|            Таврия|  mechanical|yellow|           1000000|              2019|hybrid-petrol|   gasoline|               8.0|      van|    owned|      rear|          50000.0|Могилевская обл.|               86|              1861|              2232|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+-----------------+----------------+-----------------+------------------+------------------+

In [5]:
from pyspark.sql.functions import concat_ws,col
df=df.select("manufacturer_name",concat_ws('_',df.manufacturer_name,df.model_name)
              .alias("manufacturer_model"),"transmission","color","odometer_value","year_produced","engine_fuel","engine_has_gas",
              "engine_type","engine_capacity","body_type","has_warranty","state","drivetrain","price_usd","is_exchangeable",
              "location_region","number_of_photos","up_counter","feature_0","feature_1","feature_2","feature_3","feature_4",
              "feature_5","feature_6","feature_7","feature_8","feature_9","duration_listed")
df.show(truncate=False)

+-----------------+------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|manufacturer_model|transmission|color |odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|Subaru           |Subaru_Outback    |automatic   |silver|190000        |2010         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |10900.0  |false          |Минская обл.   |9               |13        |false    |true     |true     |true     |false    |true     |false    |true     |true     |true     |16             |
|Subaru           |Subaru_Outback    |automatic   |blue  |290000        |2002         |gasoline   |false         |gasoline   |3.0            |universal|false       |owned|all       |5000.0   |true           |Минская обл.   |12              |54        |false    |true     |false    |false    |true     |true     |false    |false    |false    |true     |83             |
|Subaru           |Subaru_Forester   |automatic   |red   |402000        |2001         |gasoline   |false         |gasoline   |2.5            |suv      |false       |owned|all       |2800.0   |true           |Минская обл.   |4               |72        |false    |true     |false    |false    |false    |false    |false    |false    |true     |true     |151            |
|Subaru           |Subaru_Impreza    |mechanical  |blue  |10000         |1999         |gasoline   |false         |gasoline   |3.0            |sedan    |false       |owned|all       |9999.0   |true           |Минская обл.   |9               |42        |true     |false    |false    |false    |false    |false    |false    |false    |false    |false    |86             |
|Subaru           |Subaru_Legacy     |automatic   |black |280000        |2001         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |2134.11  |true           |Гомельская обл.|14              |7         |false    |true     |false    |true     |true     |false    |false    |false    |false    |true     |7              |
|Subaru           |Subaru_Outback    |automatic   |silver|132449        |2011         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |14700.0  |true           |Минская обл.   |20              |56        |false    |true     |false    |false    |false    |true     |false    |true     |true     |true     |67             |
|Subaru           |Subaru_Forester   |automatic   |black |318280        |1998         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |3000.0   |true           |Минская обл.   |8               |147       |false    |true     |false    |false    |true     |true     |false    |false    |true     |true     |307            |
|Subaru           |Subaru_Legacy     |automatic   |silver|350000        |2004         |gasoline   |false         |gasoline   |2.5            |sedan    |false       |owned|all       |4500.0   |false          |Брестская обл. |7               |29        |false    |true     |true     |false    |false    |false    |false    |false    |false    |true     |73             |
|Subaru           |Subaru_Outback    |automatic   |grey  |179000        |2010         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |12900.0  |false          |Минская обл.   |17              |33        |false    |true     |true     |true     |true     |true     |true     |true     |true     |true     |87             |
|Subaru           |Subaru_Forester   |automatic   |silver|571317        |1999         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |4200.0   |true           |Минская обл.   |8               |11        |false    |true     |true     |false    |false    |true     |false    |false    |false    |true     |43             |
|Subaru           |Subaru_Forester   |mechanical  |other |280000        |2003         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |6900.0   |true           |Минская обл.   |14              |6         |false    |true     |false    |true     |false    |true     |false    |true     |true     |true     |11             |
|Subaru           |Subaru_Tribeca    |automatic   |grey  |256000        |2008         |gasoline   |false         |gasoline   |3.6            |suv      |false       |owned|all       |8350.0   |true           |Минская обл.   |18              |61        |false    |true     |true     |true     |true     |true     |false    |false    |true     |true     |80             |
|Subaru           |Subaru_Forester   |mechanical  |other |321000        |2002         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |4300.0   |false          |Минская обл.   |13              |2         |false    |true     |false    |false    |false    |false    |false    |false    |false    |false    |2              |
|Subaru           |Subaru_Justy      |mechanical  |red   |49999         |2001         |gasoline   |false         |gasoline   |1.3            |hatchback|false       |owned|all       |1666.0   |false          |Гомельская обл.|8               |94        |true     |false    |false    |false    |false    |false    |false    |false    |false    |false    |230            |
|Subaru           |Subaru_Outback    |automatic   |brown |154685        |2011         |gasoline   |false         |gasoline   |2.5            |universal|false       |owned|all       |8600.0   |true           |Минская обл.   |24              |34        |false    |true     |false    |true     |false    |false    |false    |false    |true     |true     |63             |
|Subaru           |Subaru_Outback    |automatic   |black |163219        |2004         |gasoline   |false         |gasoline   |2.0            |universal|false       |owned|all       |7300.0   |true           |Минская обл.   |17              |22        |false    |true     |true     |false    |true     |true     |false    |false    |false    |true     |35             |
|Subaru           |Subaru_Outback    |automatic   |other |318650        |2005         |gasoline   |false         |gasoline   |3.0            |universal|false       |owned|all       |7587.97  |true           |Минская обл.   |7               |166       |false    |true     |false    |true     |true     |true     |false    |false    |true     |true     |468            |
|Subaru           |Subaru_Impreza    |mechanical  |blue  |191000        |2005         |gasoline   |false         |gasoline   |2.0            |sedan    |false       |owned|all       |10950.0  |false          |Минская обл.   |12              |7         |false    |true     |false    |false    |false    |false    |false    |false    |false    |true     |21             |
|Subaru           |Subaru_Forester   |automatic   |silver|179000        |2014         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |12700.0  |false          |Минская обл.   |14              |14        |false    |false    |true     |true     |false    |true     |true     |true     |true     |true     |16             |
|Subaru           |Subaru_Forester   |automatic   |black |159000        |2013         |gasoline   |false         |gasoline   |2.0            |suv      |false       |owned|all       |16500.0  |false          |Минская обл.   |6               |34        |false    |true     |true     |false    |true     |true     |false    |true     |true     |true     |59             |
+-----------------+------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 20 rows

In [6]:
df.count()

38531

In [7]:
df2 = df.where(df.odometer_value>1000)

In [12]:
df2.count()

37697

In [8]:
df3 = df2.where(df.price_usd>999)

In [14]:
df3.count()

34287

In [9]:
df = df3.dropDuplicates()

In [10]:
df.count()

34281

In [17]:
df_s = df.describe()
df_s.show()

+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+------------------+----------------+-----------------+------------------+------------------+
|summary|manufacturer_name|manufacturer_model|transmission| color|    odometer_value|     year_produced|  engine_fuel|engine_type|   engine_capacity|body_type|    state|drivetrain|         price_usd| location_region| number_of_photos|        up_counter|   duration_listed|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+------------------+----------------+-----------------+------------------+------------------+
|  count|            34281|             34281|       34281| 34281|             34281|             34281|        34281|      34281|             34271|    34281|    34281|     34281|             34281|           34281|            34281|             34281|             34281|
|   mean|             null|              null|        null|  null|249437.03019165134|2003.8674484408273|         null|       null|2.0931049575442797|     null|     null|      null|7026.6042052448865|            null|9.903503398383945|16.605204048890055| 82.12064992269771|
| stddev|             null|              null|        null|  null|125885.42931738618|7.2689371351344585|         null|       null|0.6894464927315831|     null|     null|      null| 6056.600140327211|            null|6.185452663871652|  43.2988781386186|111.83561331107859|
|    min|            Acura|          Acura_CL|   automatic| black|              1085|              1942|       diesel|     diesel|               0.2|cabriolet|emergency|       all|            1000.0|  Брестская обл.|                1|                 1|                 0|
|    max|              УАЗ|       УАЗ_Patriot|  mechanical|yellow|           1000000|              2019|hybrid-petrol|   gasoline|               7.5|      van|    owned|      rear|           50000.0|Могилевская обл.|               86|              1861|              2232|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+-----------+------------------+---------+---------+----------+------------------+----------------+-----------------+------------------+------------------+

In [18]:
df_s1 = df_s.toPandas()
df_s1

,summary,manufacturer_name,manufacturer_model,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,state,drivetrain,price_usd,location_region,number_of_photos,up_counter,duration_listed
0,count,34281,34281,34281,34281,34281,34281,34281,34281,34271,34281,34281,34281,34281,34281,34281,34281,34281
1,mean,None,None,None,None,249437.03019165134,2003.8674484408273,None,None,2.0931049575442797,None,None,None,7026.6042052448865,None,9.903503398383945,16.605204048890055,82.12064992269771
2,stddev,None,None,None,None,125885.42931738618,7.2689371351344585,None,None,0.6894464927315831,None,None,None,6056.600140327211,None,6.185452663871652,43.2988781386186,111.83561331107859
3,min,Acura,Acura_CL,automatic,black,1085,1942,diesel,diesel,0.2,cabriolet,emergency,all,1000.0,Брестская обл.,1,1,0
4,max,УАЗ,УАЗ_Patriot,mechanical,yellow,1000000,2019,hybrid-petrol,gasoline,7.5,van,owned,rear,50000.0,Могилевская обл.,86,1861,2232

In [11]:
from pyspark.sql.functions import col,isnan, when, count
df5 = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])

In [12]:
df5.collect()[0].asDict()

{'manufacturer_name': 0,
 'manufacturer_model': 0,
 'transmission': 0,
 'color': 0,
 'odometer_value': 0,
 'year_produced': 0,
 'engine_fuel': 0,
 'engine_has_gas': 0,
 'engine_type': 0,
 'engine_capacity': 10,
 'body_type': 0,
 'has_warranty': 0,
 'state': 0,
 'drivetrain': 0,
 'price_usd': 0,
 'is_exchangeable': 0,
 'location_region': 0,
 'number_of_photos': 0,
 'up_counter': 0,
 'feature_0': 0,
 'feature_1': 0,
 'feature_2': 0,
 'feature_3': 0,
 'feature_4': 0,
 'feature_5': 0,
 'feature_6': 0,
 'feature_7': 0,
 'feature_8': 0,
 'feature_9': 0,
 'duration_listed': 0}

In [13]:
df = df.na.drop()

In [14]:
df.count()

34271

In [23]:
from pyspark.sql.functions import col,isnan, when, count
df6 = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-----------------+------------------+------------+-----+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|manufacturer_model|transmission|color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+------------------+------------+-----+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|                0|                 0|           0|    0|             0|            0|          0|             0|          0|              0|        0|           0|    0|         0|        0|              0|              0|               0|         0|        0|        0|        0|        0|        0|        0|        0|        0|        0|        0|              0|
+-----------------+------------------+------------+-----+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+

In [15]:
from pyspark.ml.regression import LinearRegression

In [16]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [46]:
featureassembler = VectorAssembler(inputCols = ['odometer_value','year_produced','engine_capacity','number_of_photos',
                                                'up_counter'],outputCol = "Independent Features")

In [47]:
output = featureassembler.transform(df)

In [48]:
output.show()

+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+--------------------+
|manufacturer_name|  manufacturer_model|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable| location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|Independent Features|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+--------------------+
|           Subaru|     Subaru_Forester|  mechanical|  blue|        296000|         2003|        gas|          true|   gasoline|            2.0|universal|       false|owned|       all|   6150.0|          false|    Минская обл.|               7|         6|    false|    false|    false|    false|    false|     true|    false|    false|    false|    false|             10|[296000.0,2003.0,...|
|            Dodge|       Dodge_Caravan|   automatic|silver|        170000|         2003|   gasoline|         false|   gasoline|            2.4|  minivan|       false|owned|     front|   3500.0|          false|    Минская обл.|               4|         2|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             83|[170000.0,2003.0,...|
|              Kia|         Kia_Sorento|   automatic| other|        144841|         2010|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|     front|  12000.0|          false|  Витебская обл.|               5|        18|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             54|[144841.0,2010.0,...|
|              Kia|             Kia_Rio|  mechanical|silver|        229000|         2008|     diesel|         false|     diesel|            1.5|    sedan|       false|owned|     front|   5300.0|          false|    Минская обл.|               8|        31|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             69|[229000.0,2008.0,...|
|              Kia|         Kia_Sorento|   automatic| other|        251058|         2004|        gas|          true|   gasoline|            3.5|      suv|       false|owned|      rear|   6250.0|          false|  Брестская обл.|               1|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             40|[251058.0,2004.0,...|
|             Opel|         Opel_Vectra|  mechanical|silver|        225000|         2003|     diesel|         false|     diesel|            2.2|universal|       false|owned|     front|   4300.0|          false|    Минская обл.|              10|         4|    false|    false|    false|    false|    false|    false|    false|    false|     true|     true|            119|[225000.0,2003.0,...|
|             Opel|          Opel_Omega|  mechanical| white|        400000|         1994|   gasoline|         false|   gasoline|            2.0|    sedan|       false|owned|      rear|   2000.0|           true|    Минская обл.|              10|         2|    false|    false|     true|    false|    false|    false|    false|    false|    false|     true|              4|[400000.0,1994.0,...|
|             Opel|          Opel_Corsa|  mechanical|orange|         70840|         2012|   gasoline|         false|   gasoline|            1.6|hatchback|       false|owned|     front| 10860.29|          false|    Минская обл.|              15|         7|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             11|[70840.0,2012.0,1...|
|             Opel|          Opel_Omega|   automatic| black|        420000|         1998|     diesel|         false|     diesel|            2.5|universal|       false|owned|      rear|   2400.0|          false|    Минская обл.|               7|         2|    false|     true|    false|    false|     true|     true|    false|    false|    false|    false|             77|[420000.0,1998.0,...|
|             Opel|         Opel_Vectra|  mechanical|  grey|        193000|         1996|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   2000.0|           true|Могилевская обл.|               1|         8|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             63|[193000.0,1996.0,...|
|             Opel|          Opel_Astra|  mechanical| black|        225000|         2005|   gasoline|         false|   gasoline|            1.8|hatchback|       false|owned|     front|   4590.0|          false|Могилевская обл.|              10|         2|    false|     true|    false|    false|    false|    false|    false|    false|     true|     true|             36|[225000.0,2005.0,...|
|             Opel|         Opel_Zafira|  mechanical| black|        270000|         2006|     diesel|         false|     diesel|            1.9|  minivan|       false|owned|     front|   7000.0|          false|Могилевская обл.|               2|         4|    false|     true|    false|    false|    false|    false|    false|     true|     true|     true|             90|[270000.0,2006.0,...|
|             Opel|          Opel_Astra|  mechanical|  grey|        245000|         2011|     diesel|         false|     diesel|            1.3|universal|       false|owned|     front|   8300.0|          false|  Брестская обл.|               8|         8|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             79|[245000.0,2011.0,...|
|       Alfa Romeo|      Alfa Romeo_156|  mechanical| black|        300000|         1998|   gasoline|         false|   gasoline|            1.8|    sedan|       false|owned|     front|   1650.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|     true|             69|[300000.0,1998.0,...|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|silver|        202000|         2006|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|       all|   6500.0|          false|    Минская обл.|               5|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|     true|             79|[202000.0,2006.0,...|
|       Mitsubishi|   Mitsubishi_Galant|  mechanical|  grey|        250000|         1993|   gasoline|         false|   gasoline|            2.0|hatchback|       false|owned|     front|   1400.0|           true|    Минская обл.|               7|        10|    false|    false|    false|    false|    false|    false|    false|    false|    false|     true|             25|[250000.0,1993.0,...|
|       Mitsubishi|     Mitsubishi_Colt|  mechanical|  grey|        215000|         2006|   gasoline|         false|   gasoline|            1.3|hatchback|       false|owned|     front|   3900.0|          false|    Минская обл.|               6|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|    false|             97|[215000.0,2006.0,...|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|  blue|         61000|         2016|   gasoline|         false|   gasoline|            2.0|      suv|       false|owned|       all|  20002.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|     true|     true|     true|     true|     true|     true|             67|[61000.0,2016.0,2...|
|          Citroen|    Citroen_C-ELYSÉE|  mechanical| white|         40130|         2016|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   8900.0|           true|    Минская обл.|              18|        51|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             61|[40130.0,2016.0,1...|
|          Citroen|       Citroen_Xsara|  mechanical|silver|        300000|         1999|   gasoline|         false|   gasoline|            1.6|universal|       false|owned|     front|   2000.0|           true|  Витебская обл.|               6|        13|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             24|[300000.0,1999.0,...|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+--------------------+
only showing top 20 rows

In [49]:
output.select("Independent Features").show()

+--------------------+
|Independent Features|
+--------------------+
|[296000.0,2003.0,...|
|[170000.0,2003.0,...|
|[144841.0,2010.0,...|
|[229000.0,2008.0,...|
|[251058.0,2004.0,...|
|[225000.0,2003.0,...|
|[400000.0,1994.0,...|
|[70840.0,2012.0,1...|
|[420000.0,1998.0,...|
|[193000.0,1996.0,...|
|[225000.0,2005.0,...|
|[270000.0,2006.0,...|
|[245000.0,2011.0,...|
|[300000.0,1998.0,...|
|[202000.0,2006.0,...|
|[250000.0,1993.0,...|
|[215000.0,2006.0,...|
|[61000.0,2016.0,2...|
|[40130.0,2016.0,1...|
|[300000.0,1999.0,...|
+--------------------+
only showing top 20 rows

In [50]:
finalized_data = output.select("Independent Features", "price_usd")

In [51]:
finalized_data.show()

+--------------------+---------+
|Independent Features|price_usd|
+--------------------+---------+
|[296000.0,2003.0,...|   6150.0|
|[170000.0,2003.0,...|   3500.0|
|[144841.0,2010.0,...|  12000.0|
|[229000.0,2008.0,...|   5300.0|
|[251058.0,2004.0,...|   6250.0|
|[225000.0,2003.0,...|   4300.0|
|[400000.0,1994.0,...|   2000.0|
|[70840.0,2012.0,1...| 10860.29|
|[420000.0,1998.0,...|   2400.0|
|[193000.0,1996.0,...|   2000.0|
|[225000.0,2005.0,...|   4590.0|
|[270000.0,2006.0,...|   7000.0|
|[245000.0,2011.0,...|   8300.0|
|[300000.0,1998.0,...|   1650.0|
|[202000.0,2006.0,...|   6500.0|
|[250000.0,1993.0,...|   1400.0|
|[215000.0,2006.0,...|   3900.0|
|[61000.0,2016.0,2...|  20002.0|
|[40130.0,2016.0,1...|   8900.0|
|[300000.0,1999.0,...|   2000.0|
+--------------------+---------+
only showing top 20 rows

In [52]:
train_data, test_data = finalized_data.randomSplit([0.75,0.25])

In [53]:
regressor = LinearRegression(featuresCol = 'Independent Features', labelCol = 'price_usd')
regressor = regressor.fit(train_data)

In [54]:
regressor.coefficients

DenseVector([-0.0058, 510.9969, 3020.8687, 99.7248, 2.1943])

In [55]:
regressor.intercept

-1022869.2963338153

In [56]:
pred_results = regressor.evaluate(test_data)

In [57]:
pred_results.predictions.show()

+--------------------+---------+------------------+
|Independent Features|price_usd|        prediction|
+--------------------+---------+------------------+
|[28000.0,2005.0,1...|   4100.0| 7076.309473310248|
|[38180.0,2016.0,2...|  23900.0|15058.862195174326|
|[39000.0,2018.0,1...|  20500.0|14537.137478723424|
|[68000.0,2014.0,1...|   4500.0|10819.443976322538|
|[74000.0,2013.0,2...|  10100.0|11598.065973762074|
|[80000.0,2016.0,1...|  12999.0|12380.218552937848|
|[97380.0,2013.0,1...|   5000.0|10036.720198115567|
|[98000.0,2014.0,2...|   8950.0|13453.642415252514|
|[105000.0,2015.0,...|  16500.0|14493.871835459722|
|[112900.0,2014.0,...|  16500.0|12971.184250420309|
|[115000.0,2008.0,...|   8000.0| 9449.349845504621|
|[145000.0,2010.0,...|   6000.0| 8940.145371981314|
|[150000.0,2005.0,...|   5800.0| 6518.760504571372|
|[152000.0,2015.0,...|  15700.0|11665.263772681472|
|[177000.0,2015.0,...|  15900.0|11111.511869539623|
|[189500.0,2006.0,...|   5850.0| 9261.300121442066|
|[190000.0,2007.0,...|   8999.0| 21031.75609877426|
|[193000.0,1996.0,...|   2000.0| 920.3651389218867|
|[195000.0,2006.0,...|   5800.0| 5509.267513579107|
|[200000.0,2008.0,...|   6500.0| 7803.256080423598|
+--------------------+---------+------------------+
only showing top 20 rows

In [62]:
summ = regressor.summary

In [63]:
summ.rootMeanSquaredError

3796.0845819535025

In [64]:
summ.r2

0.6069611274023592

In [66]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'Independent Features', labelCol='price_usd', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(train_data)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

Coefficients: [-0.005753998811719239,510.9737672557907,3020.4966122508104,99.70062162337105,2.189449708891851]
Intercept: -1022822.211098015

In [67]:
trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 3796.084613
r2: 0.606961

In [69]:
lr_predictions = lr_model.transform(test_data)
lr_predictions.select("prediction","price_usd","Independent Features").show(5)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="price_usd",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

+------------------+---------+--------------------+
|        prediction|price_usd|Independent Features|
+------------------+---------+--------------------+
|  7075.89129085117|   4100.0|[28000.0,2005.0,1...|
|15058.120594842127|  23900.0|[38180.0,2016.0,2...|
|14536.724288216676|  20500.0|[39000.0,2018.0,1...|
|10819.421090529184|   4500.0|[68000.0,2014.0,1...|
|11597.907091535046|  10100.0|[74000.0,2013.0,2...|
+------------------+---------+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.604555

In [76]:
test_result = lr_model.evaluate(test_data)
print("Root Mean Squared Error (RMSE) on test data = %g" % test_result.rootMeanSquaredError)
print("R2 on test data = %g" % test_result.r2)

Root Mean Squared Error (RMSE) on test data = 3802.68
R2 on test data = 0.604555

In [79]:
from pyspark.ml.regression import DecisionTreeRegressor
dt = DecisionTreeRegressor(featuresCol ='Independent Features', labelCol = 'price_usd')
dt_model = dt.fit(train_data)
dt_predictions = dt_model.transform(test_data)
dt_evaluator = RegressionEvaluator(
    labelCol="price_usd", predictionCol="prediction", metricName="rmse")
rmse = dt_evaluator.evaluate(dt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 2863.53

In [72]:
dt_model.featureImportances

SparseVector(5, {1: 0.7604, 2: 0.2396})

In [73]:
df.take(1)

[Row(manufacturer_name='Subaru', manufacturer_model='Subaru_Forester', transmission='mechanical', color='blue', odometer_value=296000, year_produced=2003, engine_fuel='gas', engine_has_gas=True, engine_type='gasoline', engine_capacity=2.0, body_type='universal', has_warranty=False, state='owned', drivetrain='all', price_usd=6150.0, is_exchangeable=False, location_region='Минская обл.', number_of_photos=7, up_counter=6, feature_0=False, feature_1=False, feature_2=False, feature_3=False, feature_4=False, feature_5=True, feature_6=False, feature_7=False, feature_8=False, feature_9=False, duration_listed=10)]

In [74]:
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol = 'Independent Features', labelCol = 'price_usd', maxIter=10)
gbt_model = gbt.fit(train_data)
gbt_predictions = gbt_model.transform(test_data)
gbt_predictions.select('prediction', 'price_usd', 'Independent Features').show(5)

+------------------+---------+--------------------+
|        prediction|price_usd|Independent Features|
+------------------+---------+--------------------+
| 4265.558683493543|   4100.0|[28000.0,2005.0,1...|
|22804.636793836617|  23900.0|[38180.0,2016.0,2...|
| 15369.29710296091|  20500.0|[39000.0,2018.0,1...|
|10414.663073874013|   4500.0|[68000.0,2014.0,1...|
| 15706.38714723608|  10100.0|[74000.0,2013.0,2...|
+------------------+---------+--------------------+
only showing top 5 rows

In [75]:
gbt_evaluator = RegressionEvaluator(
    labelCol="price_usd", predictionCol="prediction", metricName="rmse")
rmse = gbt_evaluator.evaluate(gbt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 2758.73

In [183]:
from pyspark.ml.feature import StringIndexer
transmission_indexer = StringIndexer(inputCol="transmission", outputCol="transmissionIndex")
#Fits a model to the input dataset with optional parameters.
df1 = transmission_indexer.fit(df).transform(df)
df1.show()

+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+
|manufacturer_name|  manufacturer_model|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable| location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|transmissionIndex|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+
|           Subaru|     Subaru_Forester|  mechanical|  blue|        296000|         2003|        gas|          true|   gasoline|            2.0|universal|       false|owned|       all|   6150.0|          false|    Минская обл.|               7|         6|    false|    false|    false|    false|    false|     true|    false|    false|    false|    false|             10|              0.0|
|            Dodge|       Dodge_Caravan|   automatic|silver|        170000|         2003|   gasoline|         false|   gasoline|            2.4|  minivan|       false|owned|     front|   3500.0|          false|    Минская обл.|               4|         2|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             83|              1.0|
|              Kia|         Kia_Sorento|   automatic| other|        144841|         2010|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|     front|  12000.0|          false|  Витебская обл.|               5|        18|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             54|              1.0|
|              Kia|             Kia_Rio|  mechanical|silver|        229000|         2008|     diesel|         false|     diesel|            1.5|    sedan|       false|owned|     front|   5300.0|          false|    Минская обл.|               8|        31|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             69|              0.0|
|              Kia|         Kia_Sorento|   automatic| other|        251058|         2004|        gas|          true|   gasoline|            3.5|      suv|       false|owned|      rear|   6250.0|          false|  Брестская обл.|               1|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             40|              1.0|
|             Opel|         Opel_Vectra|  mechanical|silver|        225000|         2003|     diesel|         false|     diesel|            2.2|universal|       false|owned|     front|   4300.0|          false|    Минская обл.|              10|         4|    false|    false|    false|    false|    false|    false|    false|    false|     true|     true|            119|              0.0|
|             Opel|          Opel_Omega|  mechanical| white|        400000|         1994|   gasoline|         false|   gasoline|            2.0|    sedan|       false|owned|      rear|   2000.0|           true|    Минская обл.|              10|         2|    false|    false|     true|    false|    false|    false|    false|    false|    false|     true|              4|              0.0|
|             Opel|          Opel_Corsa|  mechanical|orange|         70840|         2012|   gasoline|         false|   gasoline|            1.6|hatchback|       false|owned|     front| 10860.29|          false|    Минская обл.|              15|         7|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             11|              0.0|
|             Opel|          Opel_Omega|   automatic| black|        420000|         1998|     diesel|         false|     diesel|            2.5|universal|       false|owned|      rear|   2400.0|          false|    Минская обл.|               7|         2|    false|     true|    false|    false|     true|     true|    false|    false|    false|    false|             77|              1.0|
|             Opel|         Opel_Vectra|  mechanical|  grey|        193000|         1996|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   2000.0|           true|Могилевская обл.|               1|         8|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             63|              0.0|
|             Opel|          Opel_Astra|  mechanical| black|        225000|         2005|   gasoline|         false|   gasoline|            1.8|hatchback|       false|owned|     front|   4590.0|          false|Могилевская обл.|              10|         2|    false|     true|    false|    false|    false|    false|    false|    false|     true|     true|             36|              0.0|
|             Opel|         Opel_Zafira|  mechanical| black|        270000|         2006|     diesel|         false|     diesel|            1.9|  minivan|       false|owned|     front|   7000.0|          false|Могилевская обл.|               2|         4|    false|     true|    false|    false|    false|    false|    false|     true|     true|     true|             90|              0.0|
|             Opel|          Opel_Astra|  mechanical|  grey|        245000|         2011|     diesel|         false|     diesel|            1.3|universal|       false|owned|     front|   8300.0|          false|  Брестская обл.|               8|         8|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             79|              0.0|
|       Alfa Romeo|      Alfa Romeo_156|  mechanical| black|        300000|         1998|   gasoline|         false|   gasoline|            1.8|    sedan|       false|owned|     front|   1650.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|     true|             69|              0.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|silver|        202000|         2006|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|       all|   6500.0|          false|    Минская обл.|               5|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|     true|             79|              1.0|
|       Mitsubishi|   Mitsubishi_Galant|  mechanical|  grey|        250000|         1993|   gasoline|         false|   gasoline|            2.0|hatchback|       false|owned|     front|   1400.0|           true|    Минская обл.|               7|        10|    false|    false|    false|    false|    false|    false|    false|    false|    false|     true|             25|              0.0|
|       Mitsubishi|     Mitsubishi_Colt|  mechanical|  grey|        215000|         2006|   gasoline|         false|   gasoline|            1.3|hatchback|       false|owned|     front|   3900.0|          false|    Минская обл.|               6|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|    false|             97|              0.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|  blue|         61000|         2016|   gasoline|         false|   gasoline|            2.0|      suv|       false|owned|       all|  20002.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|     true|     true|     true|     true|     true|     true|             67|              1.0|
|          Citroen|    Citroen_C-ELYSÉE|  mechanical| white|         40130|         2016|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   8900.0|           true|    Минская обл.|              18|        51|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             61|              0.0|
|          Citroen|       Citroen_Xsara|  mechanical|silver|        300000|         1999|   gasoline|         false|   gasoline|            1.6|universal|       false|owned|     front|   2000.0|           true|  Витебская обл.|               6|        13|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             24|              0.0|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+
only showing top 20 rows

In [17]:
from pyspark.ml.regression import LinearRegression

In [18]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [25]:
from pyspark.ml.feature import StringIndexer
columns_indexer = StringIndexer(inputCol="manufacturer_name","manufacturer_model","transmission","color","engine_fuel",\
                                     "engine_type","state","drivetrain",\
                                     outputCol="manufacturer_nameIndex","manufacturer_modelIndex","transmissionIndex",\
                                     "colorIndex","engine_fuelIndex","","engine_typeIndex",\
                                    "stateIndex","drivetrainIndex")
#Fits a model to the input dataset with optional parameters.
df1 = columns_indexer.fit(df).transform(df)
df1.show()

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_3384/2206633673.py, line 4)

In [32]:
from pyspark.ml.feature import StringIndexer
df1= StringIndexer(inputCol="manufacturer_name",outputCol="manufacturer_nameIndex").fit(df1).transform(df1)
#Fits a model to the input dataset with optional parameters.
#df1 = columns_indexer.fit(df).transform(df)
df1.show()

+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+----------------------+
|manufacturer_name|  manufacturer_model|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable| location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|transmissionIndex|manufacturer_nameIndex|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+----------------------+
|           Subaru|     Subaru_Forester|  mechanical|  blue|        296000|         2003|        gas|          true|   gasoline|            2.0|universal|       false|owned|       all|   6150.0|          false|    Минская обл.|               7|         6|    false|    false|    false|    false|    false|     true|    false|    false|    false|    false|             10|              0.0|                  22.0|
|            Dodge|       Dodge_Caravan|   automatic|silver|        170000|         2003|   gasoline|         false|   gasoline|            2.4|  minivan|       false|owned|     front|   3500.0|          false|    Минская обл.|               4|         2|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             83|              1.0|                  21.0|
|              Kia|         Kia_Sorento|   automatic| other|        144841|         2010|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|     front|  12000.0|          false|  Витебская обл.|               5|        18|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             54|              1.0|                  13.0|
|              Kia|             Kia_Rio|  mechanical|silver|        229000|         2008|     diesel|         false|     diesel|            1.5|    sedan|       false|owned|     front|   5300.0|          false|    Минская обл.|               8|        31|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             69|              0.0|                  13.0|
|              Kia|         Kia_Sorento|   automatic| other|        251058|         2004|        gas|          true|   gasoline|            3.5|      suv|       false|owned|      rear|   6250.0|          false|  Брестская обл.|               1|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             40|              1.0|                  13.0|
|             Opel|         Opel_Vectra|  mechanical|silver|        225000|         2003|     diesel|         false|     diesel|            2.2|universal|       false|owned|     front|   4300.0|          false|    Минская обл.|              10|         4|    false|    false|    false|    false|    false|    false|    false|    false|     true|     true|            119|              0.0|                   2.0|
|             Opel|          Opel_Omega|  mechanical| white|        400000|         1994|   gasoline|         false|   gasoline|            2.0|    sedan|       false|owned|      rear|   2000.0|           true|    Минская обл.|              10|         2|    false|    false|     true|    false|    false|    false|    false|    false|    false|     true|              4|              0.0|                   2.0|
|             Opel|          Opel_Corsa|  mechanical|orange|         70840|         2012|   gasoline|         false|   gasoline|            1.6|hatchback|       false|owned|     front| 10860.29|          false|    Минская обл.|              15|         7|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             11|              0.0|                   2.0|
|             Opel|          Opel_Omega|   automatic| black|        420000|         1998|     diesel|         false|     diesel|            2.5|universal|       false|owned|      rear|   2400.0|          false|    Минская обл.|               7|         2|    false|     true|    false|    false|     true|     true|    false|    false|    false|    false|             77|              1.0|                   2.0|
|             Opel|         Opel_Vectra|  mechanical|  grey|        193000|         1996|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   2000.0|           true|Могилевская обл.|               1|         8|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             63|              0.0|                   2.0|
|             Opel|          Opel_Astra|  mechanical| black|        225000|         2005|   gasoline|         false|   gasoline|            1.8|hatchback|       false|owned|     front|   4590.0|          false|Могилевская обл.|              10|         2|    false|     true|    false|    false|    false|    false|    false|    false|     true|     true|             36|              0.0|                   2.0|
|             Opel|         Opel_Zafira|  mechanical| black|        270000|         2006|     diesel|         false|     diesel|            1.9|  minivan|       false|owned|     front|   7000.0|          false|Могилевская обл.|               2|         4|    false|     true|    false|    false|    false|    false|    false|     true|     true|     true|             90|              0.0|                   2.0|
|             Opel|          Opel_Astra|  mechanical|  grey|        245000|         2011|     diesel|         false|     diesel|            1.3|universal|       false|owned|     front|   8300.0|          false|  Брестская обл.|               8|         8|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             79|              0.0|                   2.0|
|       Alfa Romeo|      Alfa Romeo_156|  mechanical| black|        300000|         1998|   gasoline|         false|   gasoline|            1.8|    sedan|       false|owned|     front|   1650.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|     true|             69|              0.0|                  29.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|silver|        202000|         2006|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|       all|   6500.0|          false|    Минская обл.|               5|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|     true|             79|              1.0|                  14.0|
|       Mitsubishi|   Mitsubishi_Galant|  mechanical|  grey|        250000|         1993|   gasoline|         false|   gasoline|            2.0|hatchback|       false|owned|     front|   1400.0|           true|    Минская обл.|               7|        10|    false|    false|    false|    false|    false|    false|    false|    false|    false|     true|             25|              0.0|                  14.0|
|       Mitsubishi|     Mitsubishi_Colt|  mechanical|  grey|        215000|         2006|   gasoline|         false|   gasoline|            1.3|hatchback|       false|owned|     front|   3900.0|          false|    Минская обл.|               6|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|    false|             97|              0.0|                  14.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|  blue|         61000|         2016|   gasoline|         false|   gasoline|            2.0|      suv|       false|owned|       all|  20002.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|     true|     true|     true|     true|     true|     true|             67|              1.0|                  14.0|
|          Citroen|    Citroen_C-ELYSÉE|  mechanical| white|         40130|         2016|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   8900.0|           true|    Минская обл.|              18|        51|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             61|              0.0|                   8.0|
|          Citroen|       Citroen_Xsara|  mechanical|silver|        300000|         1999|   gasoline|         false|   gasoline|            1.6|universal|       false|owned|     front|   2000.0|           true|  Витебская обл.|               6|        13|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             24|              0.0|                   8.0|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+----------------------+
only showing top 20 rows

In [57]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer


indexers = [StringIndexer(inputCol=column,outputCol=column+"_index").fit(df) \
            for column in list(set(df.columns)-set(['odometer_value','year_produced','engine_capacity','price_usd',\
                                                    'location_region','number_of_photos','up_counter','feature_0',\
                                                    'feature_1','feature_2','feature_3', 'feature_4','feature_5',\
                                                    'is_exchangeable','engine_has_gas','has_warranty','feature_6',\
                                                    'feature_7','feature_8','feature_9','duration_listed']))]


pipeline = Pipeline(stages=indexers)
df = pipeline.fit(df).transform(df)

df.show()

+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+
|manufacturer_name|  manufacturer_model|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable| location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|engine_fuel_index|engine_type_index|body_type_index|transmission_index|state_index|manufacturer_model_index|manufacturer_name_index|drivetrain_index|color_index|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+
|           Subaru|     Subaru_Forester|  mechanical|  blue|        296000|         2003|        gas|          true|   gasoline|            2.0|universal|       false|owned|       all|   6150.0|          false|    Минская обл.|               7|         6|    false|    false|    false|    false|    false|     true|    false|    false|    false|    false|             10|              2.0|              0.0|            2.0|               0.0|        0.0|                   110.0|                   22.0|             1.0|        2.0|
|            Dodge|       Dodge_Caravan|   automatic|silver|        170000|         2003|   gasoline|         false|   gasoline|            2.4|  minivan|       false|owned|     front|   3500.0|          false|    Минская обл.|               4|         2|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             83|              0.0|              0.0|            4.0|               1.0|        0.0|                   114.0|                   21.0|             0.0|        1.0|
|              Kia|         Kia_Sorento|   automatic| other|        144841|         2010|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|     front|  12000.0|          false|  Витебская обл.|               5|        18|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             54|              0.0|              0.0|            3.0|               1.0|        0.0|                    45.0|                   13.0|             0.0|        5.0|
|              Kia|             Kia_Rio|  mechanical|silver|        229000|         2008|     diesel|         false|     diesel|            1.5|    sedan|       false|owned|     front|   5300.0|          false|    Минская обл.|               8|        31|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             69|              1.0|              1.0|            0.0|               0.0|        0.0|                    40.0|                   13.0|             0.0|        1.0|
|              Kia|         Kia_Sorento|   automatic| other|        251058|         2004|        gas|          true|   gasoline|            3.5|      suv|       false|owned|      rear|   6250.0|          false|  Брестская обл.|               1|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             40|              2.0|              0.0|            3.0|               1.0|        0.0|                    45.0|                   13.0|             2.0|        5.0|
|             Opel|         Opel_Vectra|  mechanical|silver|        225000|         2003|     diesel|         false|     diesel|            2.2|universal|       false|owned|     front|   4300.0|          false|    Минская обл.|              10|         4|    false|    false|    false|    false|    false|    false|    false|    false|     true|     true|            119|              1.0|              1.0|            2.0|               0.0|        0.0|                     7.0|                    2.0|             0.0|        1.0|
|             Opel|          Opel_Omega|  mechanical| white|        400000|         1994|   gasoline|         false|   gasoline|            2.0|    sedan|       false|owned|      rear|   2000.0|           true|    Минская обл.|              10|         2|    false|    false|     true|    false|    false|    false|    false|    false|    false|     true|              4|              0.0|              0.0|            0.0|               0.0|        0.0|                    13.0|                    2.0|             2.0|        3.0|
|             Opel|          Opel_Corsa|  mechanical|orange|         70840|         2012|   gasoline|         false|   gasoline|            1.6|hatchback|       false|owned|     front| 10860.29|          false|    Минская обл.|              15|         7|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             11|              0.0|              0.0|            1.0|               0.0|        0.0|                    59.0|                    2.0|             0.0|       11.0|
|             Opel|          Opel_Omega|   automatic| black|        420000|         1998|     diesel|         false|     diesel|            2.5|universal|       false|owned|      rear|   2400.0|          false|    Минская обл.|               7|         2|    false|     true|    false|    false|     true|     true|    false|    false|    false|    false|             77|              1.0|              1.0|            2.0|               1.0|        0.0|                    13.0|                    2.0|             2.0|        0.0|
|             Opel|         Opel_Vectra|  mechanical|  grey|        193000|         1996|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   2000.0|           true|Могилевская обл.|               1|         8|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             63|              0.0|              0.0|            0.0|               0.0|        0.0|                     7.0|                    2.0|             0.0|        4.0|
|             Opel|          Opel_Astra|  mechanical| black|        225000|         2005|   gasoline|         false|   gasoline|            1.8|hatchback|       false|owned|     front|   4590.0|          false|Могилевская обл.|              10|         2|    false|     true|    false|    false|    false|    false|    false|    false|     true|     true|             36|              0.0|              0.0|            1.0|               0.0|        0.0|                     2.0|                    2.0|             0.0|        0.0|
|             Opel|         Opel_Zafira|  mechanical| black|        270000|         2006|     diesel|         false|     diesel|            1.9|  minivan|       false|owned|     front|   7000.0|          false|Могилевская обл.|               2|         4|    false|     true|    false|    false|    false|    false|    false|     true|     true|     true|             90|              1.0|              1.0|            4.0|               0.0|        0.0|                    10.0|                    2.0|             0.0|        0.0|
|             Opel|          Opel_Astra|  mechanical|  grey|        245000|         2011|     diesel|         false|     diesel|            1.3|universal|       false|owned|     front|   8300.0|          false|  Брестская обл.|               8|         8|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             79|              1.0|              1.0|            2.0|               0.0|        0.0|                     2.0|                    2.0|             0.0|        4.0|
|       Alfa Romeo|      Alfa Romeo_156|  mechanical| black|        300000|         1998|   gasoline|         false|   gasoline|            1.8|    sedan|       false|owned|     front|   1650.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|     true|             69|              0.0|              0.0|            0.0|               0.0|        0.0|                    93.0|                   29.0|             0.0|        0.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|silver|        202000|         2006|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|       all|   6500.0|          false|    Минская обл.|               5|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|     true|             79|              0.0|              0.0|            3.0|               1.0|        0.0|                    79.0|                   14.0|             1.0|        1.0|
|       Mitsubishi|   Mitsubishi_Galant|  mechanical|  grey|        250000|         1993|   gasoline|         false|   gasoline|            2.0|hatchback|       false|owned|     front|   1400.0|           true|    Минская обл.|               7|        10|    false|    false|    false|    false|    false|    false|    false|    false|    false|     true|             25|              0.0|              0.0|            1.0|               0.0|        0.0|                    95.0|                   14.0|             0.0|        4.0|
|       Mitsubishi|     Mitsubishi_Colt|  mechanical|  grey|        215000|         2006|   gasoline|         false|   gasoline|            1.3|hatchback|       false|owned|     front|   3900.0|          false|    Минская обл.|               6|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|    false|             97|              0.0|              0.0|            1.0|               0.0|        0.0|                   154.0|                   14.0|             0.0|        4.0|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|  blue|         61000|         2016|   gasoline|         false|   gasoline|            2.0|      suv|       false|owned|       all|  20002.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|     true|     true|     true|     true|     true|     true|             67|              0.0|              0.0|            3.0|               1.0|        0.0|                    79.0|                   14.0|             1.0|        2.0|
|          Citroen|    Citroen_C-ELYSÉE|  mechanical| white|         40130|         2016|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   8900.0|           true|    Минская обл.|              18|        51|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             61|              0.0|              0.0|            0.0|               0.0|        0.0|                   351.0|                    8.0|             0.0|        3.0|
|          Citroen|       Citroen_Xsara|  mechanical|silver|        300000|         1999|   gasoline|         false|   gasoline|            1.6|universal|       false|owned|     front|   2000.0|           true|  Витебская обл.|               6|        13|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             24|              0.0|              0.0|            2.0|               0.0|        0.0|                    54.0|                    8.0|             0.0|        1.0|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+
only showing top 20 rows

In [63]:
from pyspark.ml.feature import OneHotEncoder

# Create an instance of the one hot encoder
onehot = OneHotEncoder(inputCols=["manufacturer_name_index","manufacturer_model_index","transmission_index",\
                                     "color_index","engine_fuel_index","engine_type_index",\
                                    "state_index","drivetrain_index"], outputCols=["manufacturer_nameIndex_d",\
                                                                                   "manufacturer_modelIndex_d",\
                                                                                   "transmissionIndex_d","colorIndex_d",\
                                                                                   "engine_fuelIndex_d","engine_typeIndex_d",\
                                                                                   "stateIndex_d","drivetrainIndex_d"])

# Apply the one hot encoder to the flights data
onehot = onehot.fit(df)
cars_onehot = onehot.transform(df)

In [66]:
cars_onehot.select('manufacturer_name', 'manufacturer_name_index', 'manufacturer_nameIndex_d').distinct().sort\
('manufacturer_name_index').show()

+-----------------+-----------------------+------------------------+
|manufacturer_name|manufacturer_name_index|manufacturer_nameIndex_d|
+-----------------+-----------------------+------------------------+
|       Volkswagen|                    0.0|          (54,[0],[1.0])|
|              BMW|                    1.0|          (54,[1],[1.0])|
|             Opel|                    2.0|          (54,[2],[1.0])|
|             Audi|                    3.0|          (54,[3],[1.0])|
|          Renault|                    4.0|          (54,[4],[1.0])|
|    Mercedes-Benz|                    5.0|          (54,[5],[1.0])|
|             Ford|                    6.0|          (54,[6],[1.0])|
|          Peugeot|                    7.0|          (54,[7],[1.0])|
|          Citroen|                    8.0|          (54,[8],[1.0])|
|           Toyota|                    9.0|          (54,[9],[1.0])|
|           Nissan|                   10.0|         (54,[10],[1.0])|
|            Mazda|                   11.0|         (54,[11],[1.0])|
|          Hyundai|                   12.0|         (54,[12],[1.0])|
|              Kia|                   13.0|         (54,[13],[1.0])|
|       Mitsubishi|                   14.0|         (54,[14],[1.0])|
|            Honda|                   15.0|         (54,[15],[1.0])|
|            Skoda|                   16.0|         (54,[16],[1.0])|
|            Volvo|                   17.0|         (54,[17],[1.0])|
|             Fiat|                   18.0|         (54,[18],[1.0])|
|        Chevrolet|                   19.0|         (54,[19],[1.0])|
+-----------------+-----------------------+------------------------+
only showing top 20 rows

In [67]:
from pyspark.ml.regression import LinearRegression

In [68]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [107]:
featureassembler = VectorAssembler(inputCols = ['odometer_value','year_produced','engine_capacity',
                                                'transmission_index','color_index','engine_fuel_index','engine_type_index',\
                                                'state_index','drivetrain_index'],outputCol = "Independent_Features")

In [108]:
output = featureassembler.transform(df)

In [109]:
output.show()

+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+--------------------+
|manufacturer_name|  manufacturer_model|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable| location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|engine_fuel_index|engine_type_index|body_type_index|transmission_index|state_index|manufacturer_model_index|manufacturer_name_index|drivetrain_index|color_index|Independent_Features|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+--------------------+
|           Subaru|     Subaru_Forester|  mechanical|  blue|        296000|         2003|        gas|          true|   gasoline|            2.0|universal|       false|owned|       all|   6150.0|          false|    Минская обл.|               7|         6|    false|    false|    false|    false|    false|     true|    false|    false|    false|    false|             10|              2.0|              0.0|            2.0|               0.0|        0.0|                   110.0|                   22.0|             1.0|        2.0|[296000.0,2003.0,...|
|            Dodge|       Dodge_Caravan|   automatic|silver|        170000|         2003|   gasoline|         false|   gasoline|            2.4|  minivan|       false|owned|     front|   3500.0|          false|    Минская обл.|               4|         2|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             83|              0.0|              0.0|            4.0|               1.0|        0.0|                   114.0|                   21.0|             0.0|        1.0|[170000.0,2003.0,...|
|              Kia|         Kia_Sorento|   automatic| other|        144841|         2010|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|     front|  12000.0|          false|  Витебская обл.|               5|        18|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             54|              0.0|              0.0|            3.0|               1.0|        0.0|                    45.0|                   13.0|             0.0|        5.0|[144841.0,2010.0,...|
|              Kia|             Kia_Rio|  mechanical|silver|        229000|         2008|     diesel|         false|     diesel|            1.5|    sedan|       false|owned|     front|   5300.0|          false|    Минская обл.|               8|        31|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             69|              1.0|              1.0|            0.0|               0.0|        0.0|                    40.0|                   13.0|             0.0|        1.0|[229000.0,2008.0,...|
|              Kia|         Kia_Sorento|   automatic| other|        251058|         2004|        gas|          true|   gasoline|            3.5|      suv|       false|owned|      rear|   6250.0|          false|  Брестская обл.|               1|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|    false|             40|              2.0|              0.0|            3.0|               1.0|        0.0|                    45.0|                   13.0|             2.0|        5.0|[251058.0,2004.0,...|
|             Opel|         Opel_Vectra|  mechanical|silver|        225000|         2003|     diesel|         false|     diesel|            2.2|universal|       false|owned|     front|   4300.0|          false|    Минская обл.|              10|         4|    false|    false|    false|    false|    false|    false|    false|    false|     true|     true|            119|              1.0|              1.0|            2.0|               0.0|        0.0|                     7.0|                    2.0|             0.0|        1.0|[225000.0,2003.0,...|
|             Opel|          Opel_Omega|  mechanical| white|        400000|         1994|   gasoline|         false|   gasoline|            2.0|    sedan|       false|owned|      rear|   2000.0|           true|    Минская обл.|              10|         2|    false|    false|     true|    false|    false|    false|    false|    false|    false|     true|              4|              0.0|              0.0|            0.0|               0.0|        0.0|                    13.0|                    2.0|             2.0|        3.0|[400000.0,1994.0,...|
|             Opel|          Opel_Corsa|  mechanical|orange|         70840|         2012|   gasoline|         false|   gasoline|            1.6|hatchback|       false|owned|     front| 10860.29|          false|    Минская обл.|              15|         7|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             11|              0.0|              0.0|            1.0|               0.0|        0.0|                    59.0|                    2.0|             0.0|       11.0|(9,[0,1,2,4],[708...|
|             Opel|          Opel_Omega|   automatic| black|        420000|         1998|     diesel|         false|     diesel|            2.5|universal|       false|owned|      rear|   2400.0|          false|    Минская обл.|               7|         2|    false|     true|    false|    false|     true|     true|    false|    false|    false|    false|             77|              1.0|              1.0|            2.0|               1.0|        0.0|                    13.0|                    2.0|             2.0|        0.0|[420000.0,1998.0,...|
|             Opel|         Opel_Vectra|  mechanical|  grey|        193000|         1996|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   2000.0|           true|Могилевская обл.|               1|         8|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             63|              0.0|              0.0|            0.0|               0.0|        0.0|                     7.0|                    2.0|             0.0|        4.0|(9,[0,1,2,4],[193...|
|             Opel|          Opel_Astra|  mechanical| black|        225000|         2005|   gasoline|         false|   gasoline|            1.8|hatchback|       false|owned|     front|   4590.0|          false|Могилевская обл.|              10|         2|    false|     true|    false|    false|    false|    false|    false|    false|     true|     true|             36|              0.0|              0.0|            1.0|               0.0|        0.0|                     2.0|                    2.0|             0.0|        0.0|(9,[0,1,2],[22500...|
|             Opel|         Opel_Zafira|  mechanical| black|        270000|         2006|     diesel|         false|     diesel|            1.9|  minivan|       false|owned|     front|   7000.0|          false|Могилевская обл.|               2|         4|    false|     true|    false|    false|    false|    false|    false|     true|     true|     true|             90|              1.0|              1.0|            4.0|               0.0|        0.0|                    10.0|                    2.0|             0.0|        0.0|[270000.0,2006.0,...|
|             Opel|          Opel_Astra|  mechanical|  grey|        245000|         2011|     diesel|         false|     diesel|            1.3|universal|       false|owned|     front|   8300.0|          false|  Брестская обл.|               8|         8|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             79|              1.0|              1.0|            2.0|               0.0|        0.0|                     2.0|                    2.0|             0.0|        4.0|[245000.0,2011.0,...|
|       Alfa Romeo|      Alfa Romeo_156|  mechanical| black|        300000|         1998|   gasoline|         false|   gasoline|            1.8|    sedan|       false|owned|     front|   1650.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|    false|    false|    false|    false|    false|     true|             69|              0.0|              0.0|            0.0|               0.0|        0.0|                    93.0|                   29.0|             0.0|        0.0|(9,[0,1,2],[30000...|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|silver|        202000|         2006|   gasoline|         false|   gasoline|            2.4|      suv|       false|owned|       all|   6500.0|          false|    Минская обл.|               5|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|     true|             79|              0.0|              0.0|            3.0|               1.0|        0.0|                    79.0|                   14.0|             1.0|        1.0|[202000.0,2006.0,...|
|       Mitsubishi|   Mitsubishi_Galant|  mechanical|  grey|        250000|         1993|   gasoline|         false|   gasoline|            2.0|hatchback|       false|owned|     front|   1400.0|           true|    Минская обл.|               7|        10|    false|    false|    false|    false|    false|    false|    false|    false|    false|     true|             25|              0.0|              0.0|            1.0|               0.0|        0.0|                    95.0|                   14.0|             0.0|        4.0|(9,[0,1,2,4],[250...|
|       Mitsubishi|     Mitsubishi_Colt|  mechanical|  grey|        215000|         2006|   gasoline|         false|   gasoline|            1.3|hatchback|       false|owned|     front|   3900.0|          false|    Минская обл.|               6|        10|    false|     true|    false|    false|    false|     true|    false|    false|    false|    false|             97|              0.0|              0.0|            1.0|               0.0|        0.0|                   154.0|                   14.0|             0.0|        4.0|(9,[0,1,2,4],[215...|
|       Mitsubishi|Mitsubishi_Outlander|   automatic|  blue|         61000|         2016|   gasoline|         false|   gasoline|            2.0|      suv|       false|owned|       all|  20002.0|          false|    Минская обл.|               3|         1|    false|     true|    false|    false|     true|     true|     true|     true|     true|     true|             67|              0.0|              0.0|            3.0|               1.0|        0.0|                    79.0|                   14.0|             1.0|        2.0|[61000.0,2016.0,2...|
|          Citroen|    Citroen_C-ELYSÉE|  mechanical| white|         40130|         2016|   gasoline|         false|   gasoline|            1.6|    sedan|       false|owned|     front|   8900.0|           true|    Минская обл.|              18|        51|    false|     true|    false|     true|    false|     true|     true|     true|     true|     true|             61|              0.0|              0.0|            0.0|               0.0|        0.0|                   351.0|                    8.0|             0.0|        3.0|(9,[0,1,2,4],[401...|
|          Citroen|       Citroen_Xsara|  mechanical|silver|        300000|         1999|   gasoline|         false|   gasoline|            1.6|universal|       false|owned|     front|   2000.0|           true|  Витебская обл.|               6|        13|     true|    false|    false|    false|    false|    false|    false|    false|    false|    false|             24|              0.0|              0.0|            2.0|               0.0|        0.0|                    54.0|                    8.0|             0.0|        1.0|(9,[0,1,2,4],[300...|
+-----------------+--------------------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+----------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+-----------------+-----------------+---------------+------------------+-----------+------------------------+-----------------------+----------------+-----------+--------------------+
only showing top 20 rows

In [110]:
output.select("Independent_Features").show()

+--------------------+
|Independent_Features|
+--------------------+
|[296000.0,2003.0,...|
|[170000.0,2003.0,...|
|[144841.0,2010.0,...|
|[229000.0,2008.0,...|
|[251058.0,2004.0,...|
|[225000.0,2003.0,...|
|[400000.0,1994.0,...|
|(9,[0,1,2,4],[708...|
|[420000.0,1998.0,...|
|(9,[0,1,2,4],[193...|
|(9,[0,1,2],[22500...|
|[270000.0,2006.0,...|
|[245000.0,2011.0,...|
|(9,[0,1,2],[30000...|
|[202000.0,2006.0,...|
|(9,[0,1,2,4],[250...|
|(9,[0,1,2,4],[215...|
|[61000.0,2016.0,2...|
|(9,[0,1,2,4],[401...|
|(9,[0,1,2,4],[300...|
+--------------------+
only showing top 20 rows

In [111]:
finalized_data = output.select("Independent_Features", "price_usd")

In [112]:
finalized_data.show()

+--------------------+---------+
|Independent_Features|price_usd|
+--------------------+---------+
|[296000.0,2003.0,...|   6150.0|
|[170000.0,2003.0,...|   3500.0|
|[144841.0,2010.0,...|  12000.0|
|[229000.0,2008.0,...|   5300.0|
|[251058.0,2004.0,...|   6250.0|
|[225000.0,2003.0,...|   4300.0|
|[400000.0,1994.0,...|   2000.0|
|(9,[0,1,2,4],[708...| 10860.29|
|[420000.0,1998.0,...|   2400.0|
|(9,[0,1,2,4],[193...|   2000.0|
|(9,[0,1,2],[22500...|   4590.0|
|[270000.0,2006.0,...|   7000.0|
|[245000.0,2011.0,...|   8300.0|
|(9,[0,1,2],[30000...|   1650.0|
|[202000.0,2006.0,...|   6500.0|
|(9,[0,1,2,4],[250...|   1400.0|
|(9,[0,1,2,4],[215...|   3900.0|
|[61000.0,2016.0,2...|  20002.0|
|(9,[0,1,2,4],[401...|   8900.0|
|(9,[0,1,2,4],[300...|   2000.0|
+--------------------+---------+
only showing top 20 rows

In [113]:
train_data, test_data = finalized_data.randomSplit([0.75,0.25])

In [114]:
regressor = LinearRegression(featuresCol = 'Independent_Features', labelCol = 'price_usd')
regressor = regressor.fit(train_data)

In [115]:
regressor.coefficients

DenseVector([-0.0076, 496.0329, 2203.5687, 1206.0511, 35.7901, -67.5514, 1548.8666, -3271.6137, 1151.9446])

In [116]:
regressor.intercept

-991202.189316411

In [117]:
pred_results = regressor.evaluate(test_data)

In [118]:
pred_results.predictions.show()

+--------------------+---------+------------------+
|Independent_Features|price_usd|        prediction|
+--------------------+---------+------------------+
|(9,[0,1,2],[34788...|   2350.0|-363.0774695330765|
|(9,[0,1,2,3],[620...|  13200.0|14049.353611797327|
|(9,[0,1,2,4],[352...|   2470.0|3398.2658945702715|
|(9,[0,1,2,4],[715...|  11899.0|10013.460099744028|
|(9,[0,1,2,4],[770...|   9600.0|10026.763090137742|
|(9,[0,1,2,4],[941...|   7750.0| 9197.884706964716|
|(9,[0,1,2,4],[130...|   4500.0| 7086.396731334855|
|(9,[0,1,2,4],[149...|   5900.0| 8349.152973972261|
|(9,[0,1,2,4],[160...|   2000.0|1880.6279819486663|
|(9,[0,1,2,4],[200...|   4000.0|3387.1186601511436|
|(9,[0,1,2,4],[215...|   3900.0|  5205.10463837604|
|(9,[0,1,2,4],[232...|   2100.0|3085.4887239930686|
|(9,[0,1,2,4],[370...|   3900.0| 2094.549237747444|
|(9,[0,1,2,8],[980...|   8950.0|12618.447907941532|
|(9,[0,1,2,8],[228...|   2990.0|6438.5748130542925|
|[30452.0,2014.0,2...|  39900.0|15307.026785312803|
|[39000.0,2018.0,1...|  20500.0|14845.641349761514|
|[74000.0,2013.0,2...|  10100.0|12341.548304097261|
|[125000.0,2015.0,...|  11300.0|12039.492394195404|
|[144841.0,2010.0,...|  12000.0|11390.968510787934|
+--------------------+---------+------------------+
only showing top 20 rows

In [119]:
summ = regressor.summary

In [120]:
summ.rootMeanSquaredError

3686.985025636288

In [121]:
summ.r2

0.6291184060989378

In [125]:
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.evaluation import RegressionEvaluator
dt = DecisionTreeRegressor(featuresCol ='Independent_Features', labelCol = 'price_usd')
dt_model = dt.fit(train_data)
dt_predictions = dt_model.transform(test_data)
dt_evaluator = RegressionEvaluator(
    labelCol="price_usd", predictionCol="prediction", metricName="rmse")
rmse = dt_evaluator.evaluate(dt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)
r2 = dt_evaluator.evaluate(dt_predictions,{dt_evaluator.metricName: "r2"})
print("R2 = %g" %r2)

Root Mean Squared Error (RMSE) on test data = 2814.13
R2 = 0.783629

In [126]:
dt_model.featureImportances

SparseVector(9, {1: 0.6996, 2: 0.285, 3: 0.0104, 6: 0.0031, 8: 0.0019})

In [127]:
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol = 'Independent_Features', labelCol = 'price_usd', maxIter=10)
gbt_model = gbt.fit(train_data)
gbt_predictions = gbt_model.transform(test_data)
gbt_predictions.select('prediction', 'price_usd', 'Independent_Features').show(5)

+------------------+---------+--------------------+
|        prediction|price_usd|Independent_Features|
+------------------+---------+--------------------+
|2013.4060424918266|   2350.0|(9,[0,1,2],[34788...|
|20991.152016917324|  13200.0|(9,[0,1,2,3],[620...|
|1901.0938495058665|   2470.0|(9,[0,1,2,4],[352...|
|  8659.40104159913|  11899.0|(9,[0,1,2,4],[715...|
|  8659.40104159913|   9600.0|(9,[0,1,2,4],[770...|
+------------------+---------+--------------------+
only showing top 5 rows

In [128]:
gbt_evaluator = RegressionEvaluator(
    labelCol="price_usd", predictionCol="prediction", metricName="rmse")

rmse = gbt_evaluator.evaluate(gbt_predictions,{gbt_evaluator.metricName: "rmse"})
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)
r2 = gbt_evaluator.evaluate(gbt_predictions,{gbt_evaluator.metricName: "r2"})
print("R2 = %g" %r2)

Root Mean Squared Error (RMSE) on test data = 2571.54
R2 = 0.819325

In [132]:
from pyspark.ml.regression import RandomForestRegressor
rft = RandomForestRegressor(featuresCol = 'Independent_Features', labelCol = 'price_usd')
rft_model = rft.fit(train_data)
rft_predictions = rft_model.transform(test_data)
rft_predictions.select('prediction', 'price_usd', 'Independent_Features').show(5)

+------------------+---------+--------------------+
|        prediction|price_usd|Independent_Features|
+------------------+---------+--------------------+
| 2442.923210691425|   2350.0|(9,[0,1,2],[34788...|
|15913.799951596873|  13200.0|(9,[0,1,2,3],[620...|
| 2944.175129475695|   2470.0|(9,[0,1,2,4],[352...|
| 8937.859676752112|  11899.0|(9,[0,1,2,4],[715...|
| 9030.599512529549|   9600.0|(9,[0,1,2,4],[770...|
+------------------+---------+--------------------+
only showing top 5 rows

In [134]:
rft_evaluator = RegressionEvaluator(
    labelCol="price_usd", predictionCol="prediction", metricName="rmse")

rmse = rft_evaluator.evaluate(rft_predictions,{rft_evaluator.metricName: "rmse"})
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)
r2 = rft_evaluator.evaluate(rft_predictions,{rft_evaluator.metricName: "r2"})
print("R2 = %g" %r2)

Root Mean Squared Error (RMSE) on test data = 2826.68
R2 = 0.781695

In [135]:
gbt_model.featureImportances

SparseVector(9, {0: 0.0314, 1: 0.5464, 2: 0.2645, 3: 0.0158, 4: 0.0276, 5: 0.046, 6: 0.0019, 7: 0.0124, 8: 0.054})

In [136]:
rft_model.featureImportances

SparseVector(9, {0: 0.0879, 1: 0.5216, 2: 0.1479, 3: 0.118, 4: 0.0181, 5: 0.0129, 6: 0.0048, 7: 0.0, 8: 0.0888})